#top {
    background-color: lightgray;
}
#root {
    width: 85%;
    margin: auto;
    padding: 0px;
    background-color: white;
}
.video-detail {
    width: 10%;
    margin: auto;
    padding: 10px 0px;
}
.NavText {
    color: white;
}
.userNameHelp{
    color: White;
    text-align: left;
}
.SearchBar {
    width: 100%;
    text-align: center;
}
.roomName {
    color: white;
}
.videoArea {
    position:relative;
    padding-bottom:63%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.videoArea VideoPlayer {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}